In [1]:
import requests
import json
import csv
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import csv

In [18]:
csv_path = r"C:\Users\erick\Projects\tech_contracts\gov.contracts_info.csv"
contracts = pd.read_csv(csv_path, encoding = "ISO-8859-1")
contracts.head(10)
contracts.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5183 entries, 0 to 5182
Data columns (total 26 columns):
Contract ID                         5183 non-null object
Reference IDV                       1799 non-null object
Modification Number                 5183 non-null object
Transaction Number                  5183 non-null int64
Award/IDV Type                      5183 non-null object
Action Obligation ($)               5183 non-null object
Date Signed                         5183 non-null object
Solicitation Date                   25 non-null object
Contracting Agency ID               5178 non-null object
Contracting Agency                  5178 non-null object
Contracting Office Name             5113 non-null object
PSC Type                            5183 non-null object
PSC                                 5152 non-null object
PSC Description                     5152 non-null object
NAICS                               4838 non-null float64
NAICS Description                   4836 non-null object
Vendor DUNS                         5183 non-null int64
Vendor Name                         5179 non-null object
Vendor City                         5165 non-null object
Vendor State                        5162 non-null object
Vendor ZIP Code                     5165 non-null object
Global DUNS Number                  5183 non-null int64
Global Vendor Name                  5175 non-null object
Additional Reporting Code           438 non-null object
Additional Reporting Description    438 non-null object
Unnamed: 25                         0 non-null float64
dtypes: float64(2), int64(3), object(21)
memory usage: 1.0+ MB

In [22]:
contracts = contracts[['PSC Type', 'PSC Description','Vendor State', 'Vendor Name', 'Date Signed']]
contracts.head()

,PSC Type,PSC Description,Vendor State,Vendor Name,Date Signed
0,P,TRAILERS,NaN,SBA DENVER,"Dec 15, 1989"
1,S,ADP SYSTEMS DEVELOPMENT SERVICES,NaN,NaN,"Apr 15, 1987"
2,S,ADP DATA ENTRY SERVICES,NaN,SBA ADVANCE INCORPORATED,"Jul 15, 1990"
3,S,PROGRAM MANAGEMENT/SUPPORT SERVICES,VA,"INTEGRATED SYSTEMS CONTROL, IN","Jan 26, 1999"
4,S,"MAINT, REP/ALTER/ALL OTHER",KS,SBA CONSTRUCTION COMPANY INCORPORATED,"Sep 26, 2007"

In [21]:
contracts.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5183 entries, 0 to 5182
Data columns (total 5 columns):
PSC Type           5183 non-null object
PSC Description    5152 non-null object
Vendor State       5162 non-null object
Vendor Name        5179 non-null object
Date Signed        5183 non-null object
dtypes: object(5)
memory usage: 202.5+ KB

In [25]:
contracts_dropna=contracts[['PSC Type', 'PSC Description','Vendor State', 'Vendor Name', 'Date Signed']].dropna()
contracts_dropna.head()

,PSC Type,PSC Description,Vendor State,Vendor Name,Date Signed
3,S,PROGRAM MANAGEMENT/SUPPORT SERVICES,VA,"INTEGRATED SYSTEMS CONTROL, IN","Jan 26, 1999"
4,S,"MAINT, REP/ALTER/ALL OTHER",KS,SBA CONSTRUCTION COMPANY INCORPORATED,"Sep 26, 2007"
5,S,CONSTRUCTION OF OTHER ADMINISTRATIVE FACILITIE...,KS,SBA CONSTRUCTION COMPANY,"Sep 9, 2015"
6,S,PROGRAM MANAGEMENT/SUPPORT SERVICES,VA,"INTEGRATED SYSTEMS CONTROL, IN","Feb 5, 1999"
7,S,"MAINT, REP/ALTER/ALL OTHER",KS,SBA CONSTRUCTION COMPANY INCORPORATED,"Sep 26, 2007"

In [26]:
contracts_dropna.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 5128 entries, 3 to 5182
Data columns (total 5 columns):
PSC Type           5128 non-null object
PSC Description    5128 non-null object
Vendor State       5128 non-null object
Vendor Name        5128 non-null object
Date Signed        5128 non-null object
dtypes: object(5)
memory usage: 240.4+ KB